@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6366f1;
  --secondary: #8b5cf6;
  --accent: #ec4899;
}

body {
  @apply bg-slate-900 text-white;
}

@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-60px);
  }
}

.animate-float {
  animation: float 20s linear infinite;
}
